*,
*::before,
*::after {
  box-sizing: border-box;
}

.portfolio__menu {
  margin-top: 94px;
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

figure, li, ul, p, h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--main-text);
  background-color: var(--main-bg);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

:root {
  --main-font: "Roboto";
  --second-font: "Raleway";
  --head-foot-bg: #2f303a;
  --menu-bg: #ffffff;
  --button-hover-bg: #2196f3;
  --main-bg: #ffffff;
  --portfolio-buttons-bg: #f5f4fa;
  --main-text: #212121;
  --blue-elements: #2196f3;
  --grey-elements: #757575;
  --customers-logos: #AFB1B8;
  --menu-line: #ECECEC;
  --label-grey: rgba(47, 48, 58, 0.8);
  --footer-grey: rgba(255, 255, 255, 0.6)
    ;
}

.logo {
  font-family: var(--second-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  text-decoration: none;
  color: var(--main-text);
}

.logo-begin {
  color: var(--blue-elements);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======= Header ======= */
.main-button, .modal__form button {
  background-color: var(--blue-elements);
  color: var(--main-bg);
  font: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
}

/* ======= Portfolio ======= */
.portfolio__button {
  display: flex;
  padding-left: 0;
}

.portfolio__button button {
  background-color: var(--portfolio-buttons-bg);
  font-size: 16px;
  font-weight: 500;
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
  border-width: 0px;
  border-radius: 4px;
  transition: color, background-color, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button button:hover, .portfolio__button button:focus {
  background-color: var(--button-hover-bg);
  color: var(--main-bg);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======= Modal ======= */
.modal__form button {
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
}

/* ======= Newsletter ======= */
.newsletter__form-btn {
  background-color: var(--blue-elements);
  color: var(--main-bg);
  font: var(--main-font);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  fill: var(--main-bg);
}

.newsletter__btn-flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.newsletter__btn-icon {
  margin-left: 24px;
  width: 24px;
  height: 24px;
}

.modal {
  position: absolute;
  background-color: var(--main-bg);
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  align-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-x {
  width: 11px;
  height: 11px;
  margin-left: 1px;
  margin-top: 4px;
}

label {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.modal__form-phone,
.modal__form-name,
.modal__form-email {
  position: relative;
}

.modal__form-phone .modal__form-icon,
.modal__form-name .modal__form-icon,
.modal__form-email .modal__form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
}

textarea {
  resize: none;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

form .modal__form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
}

form .modal__form-name,
form .modal__form-phone,
form .modal__form-email,
form .modal__form-feedback {
  font-size: 12px;
  line-height: 1.172;
  margin-top: 10px;
  padding-bottom: 4px;
  color: var(--grey-elements);
}

.modal__form-name input,
.modal__form-phone input,
.modal__form-email input,
.modal__form-feedback textarea {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal__form-name input:focus,
.modal__form-phone input:focus,
.modal__form-email input:focus,
.modal__form-feedback textarea:focus {
  outline: none;
  border: 1px solid var(--blue-elements);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--blue-elements);
}

.modal__form-name input,
.modal__form-phone input,
.modal__form-email input {
  height: 40px;
}

.modal__form-feedback textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal__form-agreement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-statement {
  display: inline;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-elements);
}

.modal__form-statement input {
  margin-right: 8px;
}

.modal__form-statement a {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--blue-elements);
}

.modal__form-statement::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  top: 1px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-text);
}

.modal__form-policy:checked + .modal__form-statement::before {
  background-color: var(--blue-elements);
  border: 1px solid var(--main-bg);
  border-radius: 2px;
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  background-position: 1px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: var(--customers-logos);
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 30px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44x;
  height: 44px;
  background-color: var(--main-bg);
  border-radius: 50%;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--button-hover-bg);
  fill: var(--main-bg);
}

.social-icon {
  width: 40px;
  height: 20px;
}

.header {
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--menu-line);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  font: var(--main-font);
  font-weight: 500;
  font-size: 14px;
}

.menu__link {
  text-decoration: none;
  color: var(--main-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .menu__item:not(:last-child) {
  margin-right: 46px;
}

.menu__item {
  position: relative;
}

.menu a:hover,
.menu a:focus {
  color: var(--button-hover-bg);
  cursor: pointer;
}

.current .menu__link::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  top: 45px;
  border-radius: 2px;
  background-color: var(--blue-elements);
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: var(--grey-elements);
}

.contact-list li:first-child {
  margin-right: 30px;
}

.contact-list .contact-list__link:hover,
.contact-list .contact-list__link:focus {
  fill: var(--blue-elements);
  color: var(--button-hover-bg);
  text-decoration: none;
}

.contact__icon {
  margin-right: 10px;
}

.contact-list__link {
  color: var(--grey-elements);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  text-decoration: none;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact-list__link:not(:last-child) {
  margin-right: 50px;
}

.head-info {
  height: 600px;
  width: auto;
  background: var(--head-foot-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-team.jpg);
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: var(--main-bg);
  text-align: center;
  font-weight: 900;
  line-height: 1.36;
  top: 50%;
}

.head-info h1 {
  vertical-align: middle;
}

.head-info__txt {
  font-size: 44px;
  line-height: 1.364;
  padding-top: 200px;
  margin: 0;
}

.news__icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--portfolio-buttons-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section .news {
  display: flex;
  justify-content: space-between;
}

.news__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  margin: 0;
}

.news__txt {
  color: var(--grey-elements);
  font-size: 14px;
  line-height: 1.714;
  margin-top: 10px;
}

.news__item:not(:last-child) {
  margin-right: 30px;
}

.about {
  display: flex;
  margin-top: 50px;
}

.container .about {
  margin-bottom: 94px;
}

.about__item {
  justify-content: space-between;
  margin-bottom: 0;
  position: relative;
}

.about__item img {
  display: block;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.143;
  background-color: var(--label-grey);
  color: var(--main-bg);
  height: 70px;
  padding: 27px 0;
}

.section__txt {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__background {
  background-color: var(--portfolio-buttons-bg);
}

.container .team {
  padding-bottom: 94px;
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg);
  border-bottom: 94px;
}

.team__name {
  font-weight: 500;
  line-height: 1.188;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__job {
  color: var(--grey-elements);
  line-height: 1.188;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}

.customers__item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg);
  border: 1px solid var(--customers-logos);
  border-radius: 4px;
  fill: var(--customers-logos);
  transition: background-color, fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__item:hover, .customers__item:focus {
  border: 1px solid var(--blue-elements);
  fill: var(--blue-elements);
  cursor: pointer;
}

.portfolio__content .container {
  padding-top: 50px;
}

.portfolio__gallery {
  margin-top: 0;
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__gallery-item {
  margin-bottom: 30px;
}

.portfolio__gallery-item li {
  margin-left: 0;
  flex-basis: calc(100%/3);
}

.portfolio__gallery-item figcaption {
  padding: 20px 24px;
  width: 370px;
}

.portfolio__gallery-item figure {
  border: 1px solid var(--menu-line);
  width: 370px;
}

.portfolio__gallery-item figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__gallery-item:hover .portfolio__overflow {
  transform: translatey(0);
}

.portfolio__gallery-box {
  position: relative;
  overflow: hidden;
}

.portfolio__gallery-box img {
  display: block;
}

.portfolio__gallery-box p {
  font-size: 18px;
  line-height: 1.556;
  color: var(--main-bg);
  padding: 49px 24px;
  margin: 0;
}

.portfolio__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__gallery-company {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__gallery-category {
  margin: 0;
  font-weight: 400;
  color: var(--grey-elements);
  line-height: 1.875;
}

.footer {
  height: 252px;
  width: auto;
  background-color: var(--head-foot-bg);
  color: var(--main-bg);
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 0;
}

.footer a {
  color: var(--main-bg);
  text-decoration: none;
}

.footer li > a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer li > a:hover, .footer li > a:focus {
  color: var(--button-hover-bg);
  cursor: pointer;
}

.address {
  margin-top: 20px;
  font: var(--main-font);
}

.footer__social {
  margin-left: 70px;
  margin-right: 78px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: top;
}

.footer__social-list .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-bg);
}

.footer__social-list li:not(:last-child) {
  margin-right: 10px;
}

.footer__social-list .social-list__link:hover,
.footer__social-list .social-list__link:focus {
  background-color: var(--blue-elements);
  cursor: pointer;
}

.join-us {
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.newsletter__form-email {
  background: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
}

.newsletter__form-email:focus {
  color: var(--footer-grey);
  outline: none;
  border-color: var(--blue-elements);
}
/*# sourceMappingURL=main.css.map */