.header {
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--menu-line);

  & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
  }
}
.menu {
  display: flex;
  font: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  &__link {
      text-decoration: none;
      color: var(--main-text);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .menu__item:not(:last-child) {
      margin-right: 46px;
  }
  &__item {
     position: relative; 
  }
}
.menu a:hover,
.menu a:focus {
  color: var(--button-hover-bg);
  cursor: pointer;
}
.contact-list {
  display: flex;
  align-items:center;
  justify-content: space-between;
  fill: var(--grey-elements)
}
.contact-list li:first-child {
margin-right: 30px;
}
.contact-list .contact-list__link:hover,
.contact-list .contact-list__link:focus
{
fill: var(--blue-elements);
color: var(--button-hover-bg);
text-decoration: none;
}
.contact__icon {
margin-right: 10px;
}
.contact-list__link {
color: var(--grey-elements);
font-size: 14px;
font-weight: 500;
line-height: 1.143;
text-decoration: none;
margin-top: 9px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .contact-list__link:not(:last-child) {
margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navigation,
  .contact {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contact-list {
    display: block;
    
    &__link {
      font-size: 12px;
      line-height: 1.167;
    }
  }    
  .contact-list li:first-child {
    margin-bottom: 10px;
  }  
  .contact__icon {
    margin-right: 8px;
  }  
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}


.current .menu__link::after {
position: absolute;
content: "";
display: block;
height: 4px;
width: 100%;
top: 45px;
border-radius: 2px;
background-color: var(--blue-elements);
}
