.menu__mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 480px;
    height: 100%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &-modal {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--main-bg);
      width: 100%;
      height: 100%;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 40px;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-40%);
    }

    &-close {
      position: absolute;
      align-content: center;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      background-color: var(--main-bg);
      border: 1px solid var(--main-bg);
      border-radius: 50%;
      cursor: pointer;

      &:hover {
          fill: var(--blue-elements);
      }
    }
    &-icon {
      width: 24px;
      height: 16px;
    }
    &-links {
        text-decoration: none;
        font-size: 40px;
        font-weight: 500;
        color: var(--main-text);
        line-height: 1.172;
        
        &:hover,
        &:focus {
            color: var(--blue-elements);
        }
    }
    &-items {
        margin-bottom: 36px;
    }
    &-contacts {
        display: flex;
        flex-direction: column;
        align-self:flex-start;
        margin-top: 130px;
    }
    &-phone,
    &-email {
        text-decoration: none;
        line-height: 1.172;
        font-weight: 500;
    }
    &-phone {
        color: var(--blue-elements);
        font-size: 34px;
        margin-bottom: 32px;

    }
    &-email {
        color: var(--grey-elements);
        font-size: 24px;
    }
}
.mobile__social {
    &-list {
        display: flex;
        flex-direction: row;
        margin-top: 64px;
       }
    &-link {
        text-decoration: none;
        color: var(--blue-elements);
        font-size: 18px;
        font-weight: 500;
        line-height: 1.222;
    }
}
.mobile__social-item:not(:first-child) {
    margin-left: 10px;
    margin-right: 10px;    
}
.mobile__social-item:first-child {
    margin-right: 10px;
}
.menu__mobile-btn {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 16px;
  background-color: var(--main-bg);
  border-width: 0;
  border-color: var(--main-bg);
  visibility: hidden;
  display: none;
  cursor: pointer;

  &:hover {
    fill: var(--blue-elements);
  }  
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {

    .menu__mobile-btn {
      display: block;
      visibility: visible;
    }
  }