.modal {
    position: absolute;
    background-color: var(--main-bg);
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    &__close {
      position: absolute;
      align-content: center;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      background-color: var(--main-bg);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;

      &-x {
        width: 11px;
        height: 11px;
        margin-left: 1px;
        margin-top: 4px;
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .modal__form-phone,
  .modal__form-name,
  .modal__form-email {
    position: relative;
  }
  .modal__form-phone .modal__form-icon,
  .modal__form-name .modal__form-icon,
  .modal__form-email .modal__form-icon {
    position: absolute;
    top: 50%;
    left: 14px;
  }
  textarea {
    resize: none;
    height: 120px;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal__form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  form .modal__form-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.172 ;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  form .modal__form-name,
  form .modal__form-phone,
  form .modal__form-email,
  form .modal__form-feedback {
    font-size: 12px;
    line-height: 1.172;
    margin-top: 10px;
    padding-bottom: 4px;
    color: var(--grey-elements);
  }
  .modal__form-name input,
  .modal__form-phone input,
  .modal__form-email input,
  .modal__form-feedback textarea {
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  }  
  .modal__form-name input:focus,
  .modal__form-phone input:focus,
  .modal__form-email input:focus,
  .modal__form-feedback textarea:focus {
    outline: none;
    border: 1px solid var(--blue-elements);
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--blue-elements);
  }
  .modal__form-name input,
  .modal__form-phone input,
  .modal__form-email input {
    height: 40px;
  }
  .modal__form-feedback textarea {
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }
  .modal__form-agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal__form-statement {
    display: inline;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--grey-elements);
    & input {
      margin-right: 8px;
    }
    & a {
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: var(--blue-elements);
    }
    &::before {
      content: "";
      display: inline-block;
      margin-right: 7px;
      top: 1px;
      width: 16px;
      height: 15px;
      border: 1px solid var(--main-text);
    }
  }
  .modal__form-policy:checked + .modal__form-statement::before {
    background-color: var(--blue-elements);
    border: 1px solid var(--main-bg);
    border-radius: 2px;
    background-image: url("../images/checked.svg");
    background-repeat: no-repeat;
    background-position: 1px;
  }

