.news__icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--portfolio-buttons-bg);
    border-radius: 4px;
    margin-bottom: 30px; }
  
  .section .news {
  display: flex;
  justify-content: space-between;
  }
  .news__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  margin: 0;
  }
  .news__txt {
  color: var(--grey-elements);
  font-size: 14px;
  line-height: 1.714;
  margin-top: 10px;
  }
  .news__item:not(:last-child) {
  margin-right: 30px;
}