.news__item:not(:last-child), 
.about__item:not(:last-child),
.team__item:not(:last-child) {
  margin-right: 30px;
}
/* ======= TEAM ======= */
.team__background {
  background-color: var(--portfolio-buttons-bg);
}
.container .team {
  padding-bottom: 94px;
  display: flex;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg);
  border-bottom: 94px;
}
.team__name {
  font-weight: 500;
  line-height: 1.188;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__job {
  color: var(--grey-elements);
  line-height: 1.188;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}