:root {
    --main-font: "Roboto";
    --second-font: "Raleway";
    --head-foot-bg: #2f303a;
    --menu-bg: #ffffff;
    --button-hover-bg: #2196f3;
    --main-bg: #ffffff;
    --portfolio-buttons-bg: #f5f4fa;
    --main-text: #212121;
    --blue-elements: #2196f3;
    --grey-elements: #757575;
    --customers-logos: #AFB1B8;
    --menu-line: #ECECEC;
    --label-grey: rgba(47, 48, 58, 0.8);
    --footer-grey: rgba(255, 255, 255, 0.6)
    }